@font-face {
    font-family: "Computer Modern";
    src: url('/Users/jtd/Documents/code/html/beplotlib/frontend/fonts/cmunrm.ttf');
}
@font-face {
    font-family: "Computer Modern";
    src: url('/Users/jtd/Documents/code/html/beplotlib/frontend/fonts/cmunbx.ttf');
    font-weight: bold;
}
/* @font-face {
    font-family: "Computer Modern";
    src: url('http://mirrors.ctan.org/fonts/cm-unicode/fonts/otf/cmunsi.otf');
    font-style: italic, oblique;
}
@font-face {
    font-family: "Computer Modern";
    src: url('http://mirrors.ctan.org/fonts/cm-unicode/fonts/otf/cmunbxo.otf');
    font-weight: bold;
    font-style: italic, oblique;
} */

body {
    font-family: "Computer Modern", sans-serif;
    /* font-style: serif;
    font-family: 'Computer Modern', 'Times New Roman', serif; */
}

p {
    text-align: justify;
    hyphens: auto;
}

a, a:visited, a:active {
    color: inherit;
    text-decoration: none;
}
a:hover {
    background-color: black;
    color: white;
}

div#title {
    text-align: center;
    font-size: 48;
    padding-top: 1.2em;
    padding-bottom: 1em;
}

div.columns {
    font-size: 15px;
    max-width: 63em;
    column-count: 2;
    column-gap: 3em;
    margin: auto;
}

@media (max-width: 73em) {
    div.columns {
        column-count: 1;
        max-width: 30em;
    }
}

div.unit {
    margin-bottom: 4em;
}

div#profile {
    border-style: solid;
    position: absolute;
    margin: 8px;
    right: 0%;
    top: 0%;
}

div#profile {
    border-style: solid;
    position: absolute;
    margin: 8px;
    right: 0%;
    top: 0%;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 8px;
    padding-right: 8px;
}

div#friends {
    border-style: solid;
    position: absolute;
    margin: 8px;
    left: 0%;
    top: 0%;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 8px;
    padding-right: 8px;
}